<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Filter Input Example</title>
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="stylesheet" href="styles/droplab.css">
</head>
<body>
<div class="container">
  <div class="dropdown">
    <input type='text' data-id='inputter' class='input' data-dropdown-trigger="#customDropdownName">
    <ul class="dropdown-menu" id="customDropdownName" data-dropdown data-dynamic>
      <li><a href='#' data-id='{{id}}'>{{text}}</a></li>
    </ul>
  </div>
</div>
<script src="../dist/droplab.js"></script>
<script src="../dist/plugins/filter.js"></script>
<script>
  droplab.setConfig({
    inputter: {
      text: 'text'
    }
  });
    
  droplab.addData('inputter', [{
    id: 24601,
    text: 'Jacob'
  },
  {
    id: 24602,
    text: 'Jeff'
  }])
</script>
</body>
</html>
